.topnav {
  overflow: hidden;
  background: url('../assets/header-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding-left: 110px;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  font-family: 'Oswald';
  color: white;
}
.title {
  font-size: 70px;
  font-weight: bold;
    
}
.banner-content {
  margin-top: 120px;
    margin-left: 270px;
}